<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lcsw.mapper.CaseMapper">

<select id="selectCaseList" resultType="Case">
    SELECT * FROM tbl_case WHERE 1=#{state}
</select>

<select id="selectAverageCount" resultType="Integer">
	select sum(total_count)/count(*) from tbl_case where case_type = #{caseType} and title_type = "A3";
</select>

<select id="selectCaseByRandom" resultType="Case">
	select * from tbl_case where case_type = #{caseType} and title_type = "A3" order by rand() limit #{num}
</select>

</mapper>